#login-section {
    padding: 2.4rem;
    background-color: #74ad14;
}

.login-borderline {
    border: 2px solid #74ad14;
    border-radius: 50px;
    padding: 1rem 6rem 2rem 6rem;
    background-color: white;
}

.login-heading {
    font-size: 2rem;
    font-weight: 700;
    font-style: normal;
    margin-bottom: 1rem;
    color: yellowgreen;
    text-transform: capitalize;
}

.login-desc {
    font-size: 1rem;
    font-weight: 400;
    font-style: normal;
}

.login {
    margin-bottom: 1.5rem;
}

.login-form {
    max-width: 25rem;
    margin: auto;
}

.login p a {
    text-decoration: none;
}

.login-btn {
    border: 1px solid yellowgreen;
    border-radius: 22px;
    font-size: .8rem;
    font-weight: 700;
    font-style: normal;
    width: 8rem;
    margin-bottom: 1rem;
    padding: .5rem;
    color: white;
    background-color: yellowgreen;
    text-transform: uppercase;
}

.login-member p {
    font-weight: 600;
}

.login-member p a {
    text-decoration: none;
}
