.menu {
    background: whitesmoke;
}

.logo-heading {
    font-family: 'Carme', sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    text-transform: uppercase;
}

.nav-section {
    margin-left: 1rem;
}

.menu li {
    padding: 0.5rem 0.7rem;
}

.navbar-nav {
    margin-right: 5rem;
}

.nav-link {
    color: #000 !important;
    text-transform: capitalize;
    font-weight: 600;
    border-bottom: 3px solid whitesmoke;
}
.nav-item:not(:first-child) {
    padding-left: 3rem;
}
.nav-link:hover {
    border-bottom: 3px solid yellow;
}

.nav-link:focus {
    border-bottom: 3px solid yellow;
}

.btn-navbar {
     font-size: .8rem;
     font-weight: bold;
     font-style: normal; 
     text-transform: uppercase;
     color: #fff;
     border: 2px solid yellowgreen;
     background-color: yellowgreen;
     border-radius: 25px;
     width: 6rem;
     padding: .8rem;
}

.navbar-toggler {
    border: none !important;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: none !important;
}

@media (max-width: 991px) {
    .active1 {
        margin-left: 2.5rem;
    }

    .navbar-btn {
        padding-left: 2.7rem !important;
    }
}


