.menu {
    background: whitesmoke;
}

.nav-section {
    margin-left: 1rem;
}

.menu li {
    padding: 0.5rem 0.7rem;
}

.navbar-nav {
    margin-right: 20rem;
}

.nav-link {
    color: #000 !important;
    text-transform: capitalize;
    font-weight: 600;
    border-bottom: 3px solid whitesmoke;
}
.nav-item:not(:first-child) {
    padding-left: 3rem;
}
.nav-link:hover {
    border-bottom: 3px solid yellow;
}

.nav-link:focus {
    border-bottom: 3px solid yellow;
}

.btn-navbar {
     font-size: .8rem;
     font-weight: bold;
     font-style: normal; 
     text-transform: uppercase;
     color: #fff;
     border: 2px solid yellowgreen;
     background-color: yellowgreen;
     border-radius: 25px;
     width: 6rem;
     padding: .5rem;
}

.navbar-toggler {
    border: none;
    /* padding: 10px 6px;
    outline: none; */
}

.navbar-toggler-icon {
    display: block;
    width: 22px;
    height: 2px;
    border: 1px;
}

.navbar-toggler-icon + .navbar-toggler-icon {
    margin-top: 4px;
    width: 22px;
}

.navbar-toggler-icon + .navbar-toggler-icon + .navbar-toggler-icon {
    width: 22px;
}


