#newsletter {
    margin-top: 15rem;
}

.newsletter-heading {
    font-size: 2rem;
    font-weight: 700;
    font-style: normal;
    color: yellowgreen;
    font-family: 'Montserrat', sans-serif;
}

.newsletter-desc {
    margin-top: 2rem;
    font-family: 'Montserrat', sans-serif;
}


.input-column {
    display: flex;
    align-items: center;
    justify-content: center;
}

form {
    padding-top: 4rem;
}

.newsletter-form {
    width: 20rem;
    padding: .5rem;
    border-radius: 22px;
    font-family: 'Montserrat', sans-serif;
}

.newsletter-btn {
    border: 2px solid yellowgreen;
    border-radius: 22px;
    width: 9rem;
    padding: .5rem;
    background-color: yellowgreen;
    color: white;
    font-weight: 700;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
    text-transform: uppercase;
}

@media screen and (max-width: 991px) {
    #newsletter {
        margin-top: 10rem;
    }
}
