.rates-section {
    padding: 4rem;
    background-color: #74ad14;
}

.rates-column {
    width: 100%;
    height: 400px;
    border: 2px solid yellow;
    border-radius: 50px;
    background-color: #fff;
}

.rates-heading {
    margin-top: 1rem;
    margin-left: 4rem;
}

