#testimonial {
    background-color: #74ad14;
}

.testimonial-section {
    padding: 4rem;
}

.testimonial-heading {
    font-size: 2rem;
    font-weight: bold;
    font-style: normal;
    margin-bottom: 2rem;
}

.testimonial-desc {
    font-size: 1.2rem;
    margin-top: 2rem;
    padding: 2rem;
}

.test-line {
   display: flex;
   align-items: center;
   justify-content: center;
}