.heading-line::before {
    content: " ";
    width: 5rem;
    height: 0.2rem;
    display: block;
    background-color: yellow;
}

.heading-line::after {
    content: " ";
    width: 5rem;
    height: 0.2rem;
    display: block;
    background-color: yellow;
}

.display-6 {
    font-family: 'Montserrat', sans-serif;
    color: rgb(59,55,71);
}

.fw-semi-bold {
    color: rgb(59,55,71);
    font-family: 'Montserrat', sans-serif;
}

.welcome-btn {
    font-size: .8rem;
    font-weight: 700;
    font-style: normal;
    color: #fff;
    border: 2px solid yellowgreen;
    background-color: yellowgreen;
    border-radius: 30px;
    margin-top: 1.5rem;
    width: 10rem;
    padding: .8rem;
    font-family: 'Montserrat', sans-serif;
}

@media (max-width: 991px) {
    .image {
        width: 100%;
    }
}
